html, body{
    font-family: 'Lato', sans-serif;
    line-height: 1;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.header {
    background-color: #f4f6f9;
    height: 665px;
}
button {
    border: none;
    cursor: pointer;
    border-radius: 7.33503px;
    width: 156.05px;
    height: 47px;
    padding: 0;
    margin: 0;
}
button:hover {
    opacity: .7;
}
button:active {
    opacity: .5;
}
.container{
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}
.logo {
    padding-top: 63px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    letter-spacing: -0.02em;

    color: #5282F0;
}
.header_title {
    max-width: 546px;;
    margin-top: 133px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;

    color: #333333;
}

.header_subtitle {
    max-width: 453px;
    margin-top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    color: #4F4F4F;
}

.header_buttons {
    margin-top: 50px;
    padding-bottom: 50px;

}

.googlestore {
    margin-left: 36px;
}

.header {
    background-image: url(../images/header_phones.svg);
    background-repeat: no-repeat;
    text-align: left;
    background-position: right;
}
@media (max-width: 700px) {
    .header {
        background-image: none;
        height: 525px;
    }
    .logo { 
        padding-top: 34px;
        justify-content: center;
    }
    .header_title {
        margin-top: 86px;
        font-size: 30px;
        text-align: center;
        width: 320px;
        height: 119px;
    }
    .header_subtitle {
        margin-top: 33px;
        width: 320px;
        height: 70px;
        text-align: center;
        font-size: 16px;
    }
    .googlestore {
        margin-left: 0px;
    }
    
    
}

.football_experience {
    background: linear-gradient(270deg, #ffffff 60%, rgba(255, 255, 255, 50%), rgba(255, 255, 255, 0.5) ), url(../images/ronaldruben.svg);
    background-repeat: no-repeat;
}
.event_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.event_reminder {
    width: 360px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px 4px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
}

.notifications_switch {
    width: 360px;
    height: 49.27px;
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.event_info {
    position: relative;
    flex-basis: 50%;
    min-height: 300px;
}

.reminder{
    position: absolute;
    max-width: 360px;
}
.event_video {
    position: absolute;
    max-width: 360px;
    top: 100px;
    right: 250px;
}

.event_time {
    width: 99.71px;
    height: 23.06px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16.7833px;
    line-height: 22px;

    color: #4F4F4F;
}

.teams_going_to_play {
    margin-top: 12px;
    width: 76.62px;
    height: 50.32px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}

.tipe_of_match {
    margin-top: 14px;
    width: 123.85px;
    height: 25.16px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

.chelsea{
    margin-left: -15px;
}

.nText{
    width: 250.85px;
    height: 25.16px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18.8812px;
    line-height: 25px;

    color: #4F4F4F;
}

.onoffswitch {
    position: relative; width: 45px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    outline: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 10px;
    border: 1px solid #E3E3E3; border-radius: 20px;
    background-color: #C4C2C2;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border: 1px solid #E3E3E3; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.experience{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-top: 130px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.experience_title {
    margin-bottom: 27px;
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    color: #00ADEE;
}

.experience_title2 {
    margin-bottom: 27px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;

    color: #333333;
}
.experience_subtitle {
    margin-bottom: 27px;
    width: 480px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    color: #4F4F4F;
}
.learnMore{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    color: #00ADEE;
}
@media screen and (max-width: 700px) {
    .football_experience{
        background-image: linear-gradient(to bottom,rgb(255,255,255,1) 30%, rgb(255, 255, 255,0.3) 100%), url(../images/ronaldruben.svg);
        background-position: bottom center;
        background-size: auto 50%
    }
    .container {
        padding: 0 20px;
    }
    .event_info {
        position: relative;
        width: 150px;
        min-height: 120px;
        order: 2;
        flex-basis: 50%;
        min-height: 183px;
        left: 10px;
        top: -100px;
        
    }
    .experience {
        min-width: 100%;
        display: flex;
        text-align: center;
        padding-top: 50px;
       
    }
    .exp_text {
        max-width: 320px;
        padding-right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .experience_title {
        text-align: center;
    }
    .experience_subtitle {
        margin-top: 20px;
        max-width: 320px;
        align-items: center;
        
    }

    .event_reminder {
        width: 247px;
        height: 149px;
    }
    .arsenal, .chelsea{
        width: 57px;
        height: 57px;
    }
    
    .notifications_switch {
        width: 247px;
        height: 34px;  
    }
    
    .reminder{
        position: absolute;
        max-width: 247px;
    }
    .video {
        width: 247px;
        height: 149px;
    }
    .event_video {
        position: absolute;
        max-width: 247px;
        top: 100px;
        right: -140px;
    }
    
    .event_time {
    
        width: 68.47px;
        height: 15.82px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 11.5188px;
        line-height: 15px;

        color: #4F4F4F;

    }
    
    .teams_going_to_play {
        width: 52.61px;
        height: 34.52px;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 12.3539px;
        line-height: 16px;
        
        color: #000000;
    }
    
    .tipe_of_match {
        width: 52.61px;
        height: 34.52px;
        height: 25.16px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 12.3539px;
        line-height: 16px;
    
        color: #000000;
    }
    
    .chelsea{
        margin-left: -15px;
    }
    
    .nText{
        width: 172.25px;
        height: 17.26px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12.9587px;
        line-height: 17px;
        
        color: #4F4F4F;
    }
}

.user_interface {
    height: 716px;
    background-image: url(../images/interface_bg.svg);
    background-repeat: no-repeat;
    text-align: left;
    background-position: center;
    margin: 0 auto;
    padding: 0;
  


}
.interface_text {
    padding-top: 15%;
    text-align: left;

}

.interface_title {
    margin-bottom: 27px;
    max-width: 118px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    color: #00ADEE;
}

.interface_title2{
    margin-bottom: 27px;
    max-width: 297px;
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;

    color: #333333;
}

.interface_subtitle {
    margin-bottom: 27px;
    max-width: 480px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    color: #4F4F4F;
}

@media screen and (max-width: 700px) {
    .interface_text {
        max-width: 320px;
        padding-top: 60px;
        padding-right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        line-height: 23px;

    }
    .user_interface{
        max-height: 1024px;
        background-image: url(../images/interface_bg.svg);
        background-size: auto 350px;
        background-repeat: no-repeat;
        background-position: 95% 110%;

    }
    .container {
        padding: 0 20px;
    }
}

.features {
    height: 735px;
    background-image: url(../images/features_bg.svg);
}

.features_title{
    text-align: center;
    padding-top: 76px;
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;

    color: #FFFFFF;
}

.features_list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px
}
.features_item {
    flex-basis: 30%;
    margin-bottom: 40px;
    color: #fff;
}
.item_subtitile {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.features_img {
    fill:white;
}

@media screen and (max-width: 700px) {
    .features {
        background: #FAFAFA;
        height: 1775px;
        padding: 0 20px;
    }
    
    .features_list {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
        
    }
    .features_img {
        fill: #00ADEE ;
    }
    .features_title {
        color: #333333;
    }
    .features_item {
        margin-top: 10px;
    }

    .item_subtitile {

        color: #4F4F4F;
    }

}

.users_say {
    height: 431px;
}

.slider_title {
    width: 270px;
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin: 30px auto;
    padding-top: 30px;
    color: #333333;
}

.slider {
    position: relative;
    overflow: hidden;
    max-width: 1600px;
    margin: 30px auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .slider__wrapper {
    margin: 50px auto;
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: 576px) {
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .slider__control_left::before {
        background-image: none;
    }
  }

  @media (min-width: 992px) {
    .slider__item {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }

  @media (min-width: 1200px) {
    .slider__item {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  .slider__control {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    color:#fff;
    text-align: center;
    bottom: 0;
    background: transparent;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url(../images/left_arrow.svg);
    width: 47px;
    height: 47px;
  }

  .slider__control_right::before {
    background-image: url(../images/right_arrow.svg);
    width: 47px;
    height: 47px;
  }

  .slider__content_header {
    position: relative;
  }

  .slider__content_img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .slider__content_section {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #009688;
    color: #fff;
    padding: 4px 8px;
  }

  .slider__content_title {
    background: #f5f5f5;
    color: #424242;
    white-space: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    padding: 10px 15px;
    margin: 0;
    height: 52px;
  }

  .slider__content_footer {
    background: #f5f5f5;
    display: flex;
    padding: 20px 15px;
    color: #616161;
  }

  .slider__content_avatar {
    flex: 0 0 40px;
    max-width: 40px;
  }

  .slider__content_photo {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
  }

  .slider__content_author {
    margin-left: 8px;
    line-height: 40px;
  }

  .slider__content_icon {
    height: 18px;
    margin-top: 12px;
    margin-left: auto;
  }

  .slider__content_views {
    margin-left: 4px;
    line-height: 40px;
  }

  .slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #9e9e9e;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
  }

  .slider__indicators li.active {
    opacity: 1;
  }

.featured_in {
    width: 100%;
    background: #FAFAFA;
}

.featured_in_title {
    width: 320px;
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin: 60px auto;
    padding-top: 50px;
    text-align: center;

    color: #333333;
}

.featured_img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 50px;
  }

.get_up_close {
    width: 100%;
    background-image: url(../images/get_up_bg.svg);
    background-position: left top;
    background-repeat: no-repeat;

}

.get_up_text {
    width: 535px;
    text-align: left ;
    margin-left: 60%;
}

.get_up_title {
    padding-top: 105px;
    width: 554px;
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
   
    color: #333333;

}
.get_up_subtitle {
    margin-top: 35px;
    width: 535px;
    height: 125px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;

    color: #4F4F4F;
}

@media screen and (max-width: 700px) {
    .featured_img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .get_up_text {
        width: 320px;
        margin-left: 0;
        text-align: center;
    }
    .get_up_subtitle{
        width: 320px;
        padding-bottom: 70px;
    }
    .get_up_title {
        width: 320px;
        height: 74px;
    }
    .get_up_text {
        max-width: 320px;
        padding-right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        line-height: 23px;
    
    }
    .get_up_close {
        min-height: 856px;
        background-image: url(../images/get_up_bg.svg);
        background-size: auto 300px;
        background-repeat: no-repeat;
        background-position: 100% 100%;
    
    }
    .ch_img {
        margin-top: 20px;
    }
    
}

.footer {
    padding-top: 50px;
    width: 100%;
    height: 130px;
    background: #00ADEE;
}
.footer_logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_links {
    display: flex;
    width: 30%;
    justify-content: space-between;

}
.social_network_link {
    display: flex;
    width: 8%;
    justify-content: space-between;
    transition: 0.5s;

}
.footer_logo_text {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
 
    letter-spacing: -0.02em;

    color: #FFFFFF;
}
.link_item {
    cursor: pointer;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
    transition: 0.5s;
}
.link_item:hover{
    transform: scale(1.5);
}
.social_img {
    transition: .5;
    cursor: pointer;
}
.social_img:hover {
    transform: scale(1.5);
    
}
@media screen and (max-width: 700px) {
    .footer_wrapper {
     
        flex-direction: column;
    }
    .footer_links {
        width: 320px;
        
        order: 3;
    }
    .footer {
        min-width: 320px;
        padding: 0px;
        height: 130px;
        background: #00ADEE;
    }
    .social_network_link {
        margin-left: 0;
        width: 100px;
        margin: 20px 0;
        align-self: start;
    }
    .footer_logo {
        align-self: start;
    }

}